.cursor {
    background-color: black;
}

.selection.segment {
    background-color: rgba(0, 0, 0, 0.2);
}

.selection.point {
    background-color: red;
}

> h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    font-weight: initial;
    padding-bottom: 5px;
}