.two-column {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 10px;
    grid-template-areas:
              "first second";
}

.first-column {
    grid-area: first;
}

.second-column {
    grid-area: second;
}